# Lein
.lein-failures
.lein-repl-history
target/*

# Eclipse & CCW
.externalToolBuilders/*
.classpath
.project
.settings/*
bin/*
classes/*

/bin/
.idea
*.iml
akvo-flow-services.yaml

backend/target
backend/.nrepl-port

notify.slack.sh