{
 ;; path to akvo-flow-server-config
 :config-folder "/path/to/akvo-flow-server-config"
 
 ;; port to run the HTTP service
 :http-port 3000
 
 ;; List of kinds interesting for stats
 :stats-kinds ["User" "Device" "SurveyInstance" "Survey"]

 ;; Output directory where the statistics file will be written
 :stats-path "/path/to/stats/folder"
 
 ;; Google account username used for making remote api calls (needs to be developer in all instances)
 :username "usr@gmail.com"
 
 ;; Google account password used for making remote api calls
 :password "passW0rD"
 
 ;; List of instances to be excluded from the stats report
 :dev-instances ["akvoflowsandbox" "watermappingmonitoring-hrd"
                 "flowaglimmerofhope-hrd" "akvoflow-uat1" "akvoflow-dev1"
                 "wfp-161" "flowdemoenvironment-hrd"]
}