{
 :config-folder "/akvo-flow-server-config"

 ;; port to run the HTTP service
 :http-port 3000

 ;; List of kinds interesting for stats
 :stats-kinds ["User" "Device" "SurveyInstance" "Survey" "DeviceFiles"]

 ;; Base path for reports and uploads
 :base-path "/var/tmp/akvo/flow"

 ;; Scheduling time for the daily stats job [HH mm ss]
 :stats-schedule-time [01 00 00]

 ;; Default logging level - :trace :debug :info :warn :error :fatal :report (timbre's logging levels)
 :log-level :info
 ;; Log level for akvo packages, if unset :log-level will be used
 :akvo-log-level :debug

 ;; List of instances to be excluded from the stats report
 :dev-instances ["akvoflowsandbox.appspot.com" "watermappingmonitoring-hrd.appspot.com"
                 "flowaglimmerofhope-hrd.appspot.com" "akvoflow-uat1.appspot.com"
                 "akvoflow-dev1.appspot.com" "akvoflow-dev2.appspot.com" "wfp-161.appspot.com"
                 "flowdemoenvironment-hrd.appspot.com" "akvoflow-beta1.appspot.com"
                 "akvoflow-beta2.appspot.com"]


 :notification {:credentials [#env EMAIL_USER #env EMAIL_PASSWORD]
                :api-url     "http://wiremock-proxy:8080/mailjet"}

 :notification-from "noreply@akvo.org"
 :notification-reply-to "reports@akvoflow.org"

 ;; Maximum number of rows generated for raw data reports. Nil means no limit.
 :max-data-report-rows nil

 :nrepl-bind            "0.0.0.0"

 :sentry {:dsn "http://a-sentry-key:a-sentry-secret@wiremock-proxy:8080/sentry/213123"
          :env "dev"
          :host "localhost"
          :version "SNAPSHOT"}
 }
